force-app/main/default/flows/Create_multiple_Account_Linked_Case_or_Contact_or_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Info</name>
        <label>Assign Case Info</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Contact_Record_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Info</name>
        <label>Assign Contact Info</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_Record_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Record_to_List</name>
        <label>Assign Contact Record to List</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Info</name>
        <label>Assign Opportunity Info</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Record_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Record_to_List</name>
        <label>Assign Opportunity Record to List</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_checkCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Contact_Record_to_List</name>
        <label>Copy 2 of Assign Contact Record to List</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_checkCounter</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Case</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkCounter</name>
        <label>checkCounter</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lessThanRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_many_records_you_want_to_create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Information</targetReference>
            </connector>
            <label>lessThanRequired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_checkCounter</name>
        <label>Copy 1 of checkCounter</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_lessThanRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_many_records_you_want_to_create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Information</targetReference>
            </connector>
            <label>Copy 1 of lessThanRequired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_checkCounter</name>
        <label>Copy 2 of checkCounter</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Case_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_lessThanRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>How_many_records_you_want_to_create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Information</targetReference>
            </connector>
            <label>Copy 2 of lessThanRequired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Object</name>
        <label>Selected Object</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCounter</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_checkCounter</targetReference>
            </connector>
            <label>isOpportunity</label>
        </rules>
        <rules>
            <name>isCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Object</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_checkCounter</targetReference>
            </connector>
            <label>isCase</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create multiple Account Linked Case or Contact or Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create multiple Account Linked Case or Contact or Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <inputReference>caseList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputReference>contactList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <inputReference>OpportunityList</inputReference>
    </recordCreates>
    <screens>
        <name>Case_Information</name>
        <label>Case Information</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Case_Info</targetReference>
        </connector>
        <fields>
            <name>StatusName</name>
            <choiceReferences>Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>CaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Object_for_Account_Link</name>
        <label>Object Selection</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Object</targetReference>
        </connector>
        <fields>
            <name>Select_an_Object</name>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>Opportunity</choiceReferences>
            <choiceReferences>Case</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select an Object</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>How_many_records_you_want_to_create</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>How many records you want to create</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>firstName</name>
            <dataType>String</dataType>
            <fieldText>firstName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lastName</name>
            <dataType>String</dataType>
            <fieldText>lastName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Information</name>
        <label>Opportunity Information</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Opportunity_Info</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>StageName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Choose_Object_for_Account_Link</startElementReference>
    <status>Active</status>
    <variables>
        <name>caseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>contactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
