force-app/main/default/flows/Update_Account_fields_for_Case_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignCustomerCase</name>
        <label>assignCustomerCase</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>customerCaseCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Total_Customer_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerCaseCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccountTotalCustomerCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPartnerCase</name>
        <label>assignPartnerCase</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>partnerCaseCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Total_Partner_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerCaseCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccountTotalPartnerCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCaseRecordType</name>
        <label>checkCaseRecordType</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Customer_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getCustomerCaseRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignCustomerCase</targetReference>
            </connector>
            <label>Customer Record Type</label>
        </rules>
        <rules>
            <name>Partner_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <operator>None</operator>
            </conditions>
            <connector>
                <targetReference>assignPartnerCase</targetReference>
            </connector>
            <label>Partner Record Type</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account fields for Case Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account fields for Case Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountIdFromCase</name>
        <label>getAccountIdFromCase</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCustomerCaseRecordType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>getCustomerCaseRecordType</name>
        <label>getCustomerCaseRecordType</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPartnerCaseRecordType</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordLookups>
        <name>getPartnerCaseRecordType</name>
        <label>getPartnerCaseRecordType</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkCaseRecordType</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordUpdates>
        <name>updateAccountTotalCustomerCase</name>
        <label>updateAccountTotalCustomerCase</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Total_Customer_Case__c</field>
            <value>
                <elementReference>customerCaseCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAccountTotalPartnerCase</name>
        <label>updateAccountTotalPartnerCase</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Total_Partner_Case__c</field>
            <value>
                <elementReference>partnerCaseCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>getAccountIdFromCase</startElementReference>
    <status>InvalidDraft</status>
    <variables>
        <name>customerCaseCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>partnerCaseCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
